{% extends "admin/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <strong>Registro Exitoso!</strong>
            </div>

            <div class="card">
                <div class="card-header">
                    Información de Pago:
                </div>
                <div class="card-body">
                    <h3>Gracias por registrarte!</h3>
                    <p>El monto de las inscripción es de: $5000</p>
                    <p>Luego de completar el pago envía el comprobante a: opennqn2023@gmail.com</p>
                    <p>Fecha Límite: 31 de Agosto 2023</p>
                    <h3>alias: FAIXA.360.NQN</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
