{% extends "admin/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <strong>Registro Exitoso!</strong>
            </div>

            <div class="card">
                <div class="card-header">
                    Informacion de Pago:
                </div>
                <div class="card-body">
                    <p>Gracias por registrarte!</p>
                    <p>Luego de completar el pago envia el comprobante a: eloser1994@gmail.com</p>
                    <p>Fecha Limite: 31 de Agosto 2023</p>
                    <p>CBU: 111001029408540947330002</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
